<div class="top-row ps-3 navbar navbar-dark" style="width: 100%; max-width: 100%;">
    <div class="container-fluid" style="max-width: 100%; padding-left: 20px; padding-right: 20px;">
        <a class="navbar-brand" href="">Product Management </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product
            </NavLink>
        </div>


    </nav>
</div>
